*{background-color: black;
    margin: 0;
    padding: 0;
}
h2{
    position: absolute;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 50px;
    left: 800px;
    top: 280px;
    color: brown;
}
h2:hover{
    background-color: rgb(255, 238, 0);
}
#image {
    height: 40%;
        width: 40%;
        margin-left: 8%;
        margin-top: 3%;
    transition: transform 0.05s; /* Smooth transition for rotation */
  }

  button{
    position: absolute;
    top: 557px;
    left: 70px;
    background-color: antiquewhite;
    border: 2px solid green;
    height: 51px;
    width: 100px;
    margin-left: 80%;
    margin-bottom: 65%;
  }
  input{
    position: absolute;
    top: 553px;
    left: 750px;
    background-color: antiquewhite;
    border: 2px solid green;
    width: 350px;
    height: 40px;
    padding: 5px;
    margin: 5px;
  }